body {
  font-family: Helvetica, Arial, sans-serif;
  padding-left: 10px;
  text-decoration: none;
}

h1 {
  font-family: Raleway;
  font-weight: 900;
  font-size: 36px;
  color: #ee0000;
}

h3 {
  display: inline-block;
  width: 345px;
  padding-top: 10px;
  margin-top: 80px;
  border-top: 6px solid #999999;
}

header > h1 {
}

header > span {
  margin-left: 25px;
  color: #aacccc;
  font-size: 14px;
}

header > span a {
  text-decoration: none;
  color: #cc0000;
  padding: 2px 5px 2px 5px;
}

header > span a:hover {
  color: white;
  background-color: #cc0000;
}

#todolist h3 {
  color: #ee0000;
  border-color: #ee0000;
}

#donelist h3 {
  color: #999999;
  border-color: #eeeeee;
}

form {
  display: inline-block;
}

#newTaskTextInput, #add, #delete, #alldone, #undo {
  padding: 6px 12px 6px 12px;
}

#newTaskTextInput, #add {
  font-size: 16px;
}

#newTaskTextInput {
  width: 320px; 
  border: 1px solid #665544;
  color: #cccccc;
} 

#newTaskTextInput:focus {
  color: black;
  border-color: #ee0000;
}

/* === STYLING THE BUTTON-LIKE DIVS === */

#add, #delete, #alldone, #undo {
  display: inline-block;
  width: 60px;
  margin: 0px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

#delete, #alldone, #undo {
  font-size: 12px;
  background-color: white;
  border: 1px solid;
}

#add {
  background-color: #ee0000;
  color: white;
  border: none;
}

#add:hover {
  background-color: #cc0000;
}

#add:active {
  background-color: #aa0000;
}

#alldone, #undo {
  color: black;
  border-color: black; 
  }

#alldone:hover, #undo:hover {
  color: white;
  background-color: black;
}

#alldone:active, #undo:active {
  color: white;
  background-color: #999999;
}

#delete {
  color: #cc0000;
  border-color: #cc0000;
}

#delete:hover {
  color: white;
  background-color: #cc0000;
}

#delete:active {
  background-color: #aa0000;
  color: white;
}

/* === STYLING THE LIST ITEMS === */

.item {
  padding-top: 10px;
  cursor: pointer;
}

.itemdone {
  color: #999999;
  text-decoration: line-through;
  cursor: pointer;
}

.error-message {
  padding-top: 20px;
  color: #cc0000;
  font-style: italic;
  font-weight: bold;
}

.list li, .listdone li {
  margin-left: 24px;
}

ul {
  width: 310px;
}
