body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5em;
}

.pw-page {
  position: absolute;
  min-height: 400px;
  min-width: 640px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.add-panel, .todo-panel, .done-panel, .settings-panel {
  position: absolute;
  min-height: 300px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.add-panel {
  height: 25%;
  width: 90%;
}

.settings-panel {
  height: 50%;
  width: 65%; 
}

.todo-panel, .done-panel {
  height: 85%;
  width: 90%;
}

.todo-panel, .done-panel, .settings-panel {
  display: none;
}

.one-line-input {
  display: inline-block;
  width: 100%;
}

input {
  font-size: 1.6em;
}

label {
  display: block;
  color: #e00;
  font-weight: bold;
  font-size: 2em;
}
  
input[name=new-task-input], input[name=add] {
  display: inline-block;
  float: left;
  margin-top: .5em;
}

input[name=new-task-input] {
  width: 87%;
  border: none;
  border-bottom: solid 1px #ccc;
  color: #ccc;
}

input[name=new-task-input]:focus {
  color: #000;
}

input[name=add] {
  border-radius: 50%;
  border: none;
  padding: .2em;
  color: #fff;
  background-color: #e00;
}




h1 {
  font-size: 2em;
  display: inline-block;
  font-weight: bold;
}


.todo-panel h1, .done-panel h1 {
  margin-top: 1em;
}

.todo-panel h1 {
  color: #e00;
}

.done-panel h1 {
  color: #777;
}

.settings-panel h1 {
  color: #000;
  margin-left: 25px;
}



.item {
  margin-bottom: .3em;
  cursor: pointer;
}


.itemdone {
  color: #777;
  text-decoration: line-through;
  cursor: pointer;
}

.pw-header {
  position: absolute;
  display: block;
  top: 5%;
  width: 108px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.circle, .circle-active {
  float: left;
  margin-left: 3px;
  margin-right: 3px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.circle {
  background-color: #ccc;
  cursor: pointer;
}

.circle-active {
  background-color: #e00 !important;
}

/*
 ***** 
 SETTINGS PANEL 
 *****
 */

#settings-panel header {
  position: fixed;
  top: 0;
  height: 100px;
}

#settings-panel header h1 {
  float: left;
  padding-left: 50px;
  padding-top: 40px;
  color: #c00;
  border-top: none;
  margin-top: 0;
}

#settings-panel-content {
  position: relative;
}

.pw-option-group {
  display: block;
  margin: 0 0 1em 1em;
}

/* 
 * Stylized Checkbox 
 *
 * The following checkbox stylized part were taken from http://www.paulund.co.uk/style-checkboxes-with-css 
 */

  .checkboxStylized {
    position: relative;
    float: left;
    width: 25px;
}

/* 
 * Create the box for the checkbox 
 */

  .checkboxStylized label {
    cursor: pointer;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    background: #eee;
    border: 1px solid #ddd;
}

/*
 * Display the tick inside the checkbox
 */

  .checkboxStylized label:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 6px;
    left: 7px;
    border: 3px solid #c00;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -transform: rotate(-45deg);
}

/**
 * Create the hover event of the tick
 */

  .checkboxStylized label:hover::after {
    opacity: 0.5;
}

/** 
 * Create the checkbox state for the tick
 */

  .checkboxStylized input[type=checkbox]:checked + label:after {
    opacity: 1;
}

/* 
 * END OF STYLE FOR CHECKBOXES
 */

  /*
   * Stylize options names
   */

  .option-name {
    margin-left: 35px;
    padding-top: 5px;
}

#credits {
  margin-top: 8em;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 195px;
  text-align: center;
  font-size: .7em;
  color: #777;
}

.creditsline {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
}

#credits a {
  text-decoration: none;
  color: #c00;
  padding: 5px 3px 2px 3px;
}

#credits a:hover {
  color: #fff;
  background-color: #c00;
}

